.contact{
    text-align: center;padding-bottom: 50px;background-color: #4E4E4E;
    .hed{
        padding: 50px 30px 20px 30px;font-size: 25px;text-transform: capitalize;
    }
    p{
        text-align: center;;
    }
    h3{
        @include center;text-align: center;
        display: block;
        #icon{
            width: 50px;height: 40px;
        }
       
             img{
                width: 15%;height: 15%;object-fit: contain;margin: 0 auto;
            }
            p{
                margin-bottom: 10px;font-size: 20px;
            }
        
    }

    h4{
        text-align: center;font-size: 25px;padding-bottom: 10px;border-bottom: 2px solid white;
        width: 110px;margin: 0 auto;margin-bottom: 10px;
    }
    a{
        margin-bottom: 10px;margin: 0 auto;color: white;cursor: pointer;text-decoration: none;
        font-size: 20px;
    }
}

.saying{
    padding: 20px 0 70px 0;
    .container{
        text-align: center;
        .logoo{
            width: 100%;height: 50%;
            img{
                width: 100%;height: 100%;
            }
        }
    }
}



footer{
    background-color: #4E4E4E;;
    .lo{
        display: flex;justify-content: space-between;
    }
    .container{
        .row{
            .col-md-4{
                padding-bottom: 40px;
               
                .partners{
             display: flex; justify-content:  space-between;flex-wrap: wrap;
             h2{
                 width: 100%;color: #FF5757;text-transform: capitalize;
             }
                    img{
                        width: 50%;height: 30%;object-fit: contain;
                    }
                }
                h2{
                    font-size: 25px;text-align: center;margin-bottom: 40px;
                }
                .inner{
                   font-size: 25px;text-align: center;margin-bottom: 20px;
                   h4{
                       color: #FF5757;
                   }
                   p{
                       font-size: 16px;text-transform: capitalize;
                   }
                   .time{
                       margin-left: 30px;
                   }
                }
            }
        }
    }
.bottom{
    opacity: 0;
}
}


@media screen and(min-width:768px){
.contact{
    .hed{
        span{
            display: block;
        }
    }
    h3{
        width: 50%;margin: 0 auto;padding: 2em 0 2em 0;
        img{
              margin: 0;width: 50px;
        }
        display: flex;justify-content: space-between;
      
    }
    a{
        display: block;
    }
   





   
}

.saying{
    .container{
        .logoo{
            width: 60%;height: 40%;object-fit: cover;margin: 0 auto;
           
        }
    }
}

    footer{
        position: relative;
        
        .container{
            .row{
                .col-md-4{
                    .inner{
                        padding-top: 90px;
                    }
                }
            }
        }
    }
    
}


@media screen and(min-width:1200px){
   
    .contact{
        margin-top: 60px;
        .hed{
            span{
                display: block;
            }
        }
        h3{
            width: 33%;margin: 0 30%;
            img{
                  margin: 0;width: 80px;
            }
            font-size: 25px;color: #FF5757;
            #line{
                border-left: 2px solid #FF5757;padding-left: 15px;
            }
          
        }
        a{
            font-size: 25px;
        }
       
       
    }

    .saying{
        .container{
            .logoo{
                width: 40%;height: 50%;object-fit: cover;margin: 0 auto;
               
            }
        }
    }



    footer{
      padding-top: 2em;position: relative;;
     
        .container{
            .row{
                .col-md-4{
                    .partners{
                        padding-top: 90px;
                    }
                    .inner{
                        padding-top: 90px;
                        h4{
                            text-transform: capitalize;
                        }
                        p{
                            padding-top: 10px;text-align: left;margin: 0 auto;
                            span{
                                display: block;padding-left: 30px;
                            }
                        }
                        .time{
                            display: flex;justify-content: center;
                            p{
                                padding-bottom: 20px;;
                            }
                        }
                        
                    }
                    #address{
                        p{
                            text-align: left;padding-left: 110px;padding-top: 20px;
                            span{
                                padding: 0;
                                
                            }
                        }
                    }
                    #tym{
                        
                        p{
                            display: flex;padding-bottom: 15px;padding-top: 20px;
                            span{
                                width: 120px;margin-left: 15px;
                            }
                        }
                    }
                   
                }
            }
        }
    }
    .bottom{
    opacity: 10 !important;
    }
    
}