html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: "light";
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.4;
  background-color: #000000;
  color: #fff;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

@font-face {
  font-family: "light";
  src: url(/fonts/Light.ttf);
}
@font-face {
  font-family: "bold";
  src: url(/fonts/Bold.ttf);
}
@font-face {
  font-family: "regular";
  src: url(/fonts/Regular.ttf);
}
header {
  height: 10vh;
  margin-bottom: 30px;
}
header .container {
  display: flex;
}
header .container .logo {
  width: 90px;
  height: 90px;
}
header .container .logo img {
  width: 100%;
  height: 100%;
}
header .container ul {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 10;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: red;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  transition-duration: 0.25s;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 99;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

@media screen and (min-width: 1200px) {
  header {
    height: 10vh;
  }
  header .container {
    display: flex;
  }
  header .container .logo {
    width: 150px;
    height: 150px;
  }
  header .container .logo img {
    width: 100%;
    height: 100%;
  }
  header .container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
  }
  header .container ul li {
    margin-right: 40px;
  }
  header .container ul li a {
    font-size: 20px;
    text-decoration: none;
    font-family: "light";
    text-transform: capitalize;
    color: #fff;
  }

  .hamburger-menu {
    display: none;
  }
}
.banner .container {
  display: flex;
  flex-wrap: wrap;
}
.banner .container .info {
  width: 100%;
}
.banner .container .info h1 {
  font-size: 45px;
  font-family: "light";
  text-transform: capitalize;
}
.banner .container .info h1 #we {
  color: #FF5757;
}
.banner .container .info h1 span {
  display: block;
}
.banner .container .info p {
  font-family: "regular";
  font-size: 12px;
  padding: 10px 0 20px 0;
}
.banner .container .image {
  width: 100%;
}
.banner .container .image img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .banner .container {
    position: relative;
  }
  .banner .container .info {
    width: 55%;
  }
  .banner .container .info h1 {
    font-size: 70px;
    font-family: "light";
  }
  .banner .container .info p {
    font-size: 20px;
  }
  .banner .container .image {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 30px;
    z-index: -1;
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    height: 80vh;
  }
  .banner .container {
    position: relative;
  }
  .banner .container .info {
    width: 60%;
    padding-top: 120px;
  }
  .banner .container .info h1 {
    font-size: 50px;
    font-family: "light";
  }
  .banner .container .info p {
    font-size: 20px;
    padding-top: 50px;
  }
  .banner .container .image {
    width: 50%;
    top: 120px;
    height: 450px;
  }
}
.services h2 {
  font-family: "light";
  font-size: 30px;
  text-align: center;
  padding-bottom: 40px;
}
.services p {
  font-family: "regular";
  padding: 0 10px 0 10px;
  font-size: 12px;
  text-align: center;
  padding-bottom: 20px;
  text-transform: capitalize;
}
.services .container {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.services .container .bono {
  background-color: #000;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.services .container .bono .pic {
  width: 300px;
  height: 350px;
}
.services .container .bono .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services .container .bono .info {
  height: 200px;
}
.services .container .bono .info h3 {
  font-size: 20px;
  font-family: "regular";
  padding: 10px 40px 20px 40px;
  text-align: center;
}
.services .container .bono .info p {
  font-size: 14px;
  font-family: "light";
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .services h2 {
    font-size: 40px;
  }
  .services .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .services .container .bono {
    width: 300px;
    margin: 5px;
    display: flex;
    flex-direction: column;
  }
  .services .container .bono .pic {
    width: 300px;
    height: 350px;
  }
  .services .container .bono .pic img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .services .container .bono .info {
    height: 200px;
  }
  .services .container .bono .info h3 {
    font-size: 20px;
    font-family: "regular";
    padding: 10px;
    text-align: center;
  }
  .services .container .bono .info p {
    font-size: 14px;
    text-align: left;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .services {
    padding-top: 30px;
  }
  .services h2 {
    font-size: 45px;
  }
  .services p {
    font-size: 20px;
    padding: 0 80px 30px 80px;
  }
  .services .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .services .container .bono .info {
    height: 200px;
    width: 100%;
  }
  .services .container .bono .info h3 {
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }
  .services .container .bono .info h3 span {
    display: block;
  }
  .services .container .bono .info p {
    font-size: 18px;
    text-align: left;
    padding: 0 0 0 30px;
    width: 100%;
  }
}
.contact {
  text-align: center;
  padding-bottom: 50px;
  background-color: #4E4E4E;
}
.contact .hed {
  padding: 50px 30px 20px 30px;
  font-size: 25px;
  text-transform: capitalize;
}
.contact p {
  text-align: center;
}
.contact h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;
}
.contact h3 #icon {
  width: 50px;
  height: 40px;
}
.contact h3 img {
  width: 15%;
  height: 15%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}
.contact h3 p {
  margin-bottom: 10px;
  font-size: 20px;
}
.contact h4 {
  text-align: center;
  font-size: 25px;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  width: 110px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.contact a {
  margin-bottom: 10px;
  margin: 0 auto;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}

footer .lo {
  display: flex;
  justify-content: space-between;
}
footer .container .row .col-md-4 .log {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
footer .container .row .col-md-4 .log img {
  width: 100%;
  height: 100%;
}
footer .container .row .col-md-4 h2 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 40px;
}
footer .container .row .col-md-4 .inner {
  font-size: 25px;
  font-family: "light";
  text-align: center;
  margin-bottom: 20px;
}
footer .container .row .col-md-4 .inner h4 {
  color: #FF5757;
}
footer .container .row .col-md-4 .inner p {
  font-size: 16px;
  text-transform: capitalize;
}
footer .container .row .col-md-4 .inner .time {
  margin-left: 30px;
}
footer .bottom {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .contact .hed span {
    display: block;
  }
  .contact h3 {
    width: 50%;
    margin: 0 auto;
    padding: 2em 0 2em 0;
    display: flex;
    justify-content: space-between;
  }
  .contact h3 img {
    margin: 0;
    width: 50px;
  }
  .contact a {
    display: block;
  }

  footer {
    position: relative;
  }
  footer .lo {
    flex-direction: column;
    height: 30vh;
    position: absolute;
  }
  footer .container .row .col-md-4 .inner {
    padding-top: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    margin-top: 60px;
  }
  .contact .hed span {
    display: block;
  }
  .contact h3 {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
  }
  .contact h3 img {
    margin: 0;
    width: 50px;
  }
  .contact a {
    font-size: 25px;
  }

  footer {
    padding-top: 2em;
    position: relative;
  }
  footer .lo {
    flex-direction: column;
    height: 30vh;
    position: absolute;
  }
  footer .lo .one {
    position: absolute;
    top: 0;
    left: 0;
  }
  footer .lo .two {
    display: none;
  }
  footer .container .row .col-md-4 .inner {
    padding-top: 90px;
  }
  footer .container .row .col-md-4 .inner p {
    padding-top: 10px;
  }
  footer .container .row .col-md-4 .inner p span {
    display: block;
  }
  footer .container .row .col-md-4 .inner .time {
    display: flex;
    justify-content: center;
  }

  .bottom {
    opacity: 10 !important;
  }
}/*# sourceMappingURL=style.css.map */